In [1]:
import pandas as pd

# Data Loading

In [2]:
df=pd.read_csv('E:\\working_DATA\\Mall_Customers.csv')

In [3]:
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [5]:
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

# Checking the Missing values

In [6]:
df.isnull().sum()

CustomerID                0
Genre                     0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

# Checking Duplicates

In [7]:
df.duplicated().sum()

0

# Data Spliting in Independent and Target Variables

In [8]:
X=df.drop(columns=['Annual Income (k$)'])
y=df['Annual Income (k$)']

In [9]:
X.head()

   CustomerID   Genre  Age  Spending Score (1-100)
0           1    Male   19                      39
1           2    Male   21                      81
2           3  Female   20                       6
3           4  Female   23                      77
4           5  Female   31                      40

In [10]:
y

0       15
1       15
2       16
3       16
4       17
      ...
195    120
196    126
197    126
198    137
199    137
Name: Annual Income (k$), Length: 200, dtype: int64

# OneHot Encoding

In [11]:
X=pd.get_dummies(X,drop_first=True)

In [12]:
X.head()

   CustomerID  Age  Spending Score (1-100)  Genre_Male
0           1   19                      39           1
1           2   21                      81           1
2           3   20                       6           0
3           4   23                      77           0
4           5   31                      40           0

# Train Test Split

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

# Model Training

In [14]:
from sklearn.tree import DecisionTreeRegressor
dtr=DecisionTreeRegressor()

# Hyperparameter Tuning

In [15]:
from sklearn.model_selection import GridSearchCV
para=dict()
para['criterion']=['squared_error', 'friedman_mse', 'absolute_error', 'poisson']
para['splitter']=['best', 'random']
para['max_depth']=[1,2,3,4,5]
para['max_features']=['sqrt', 'log2']

grid=GridSearchCV(dtr,param_grid=para,cv=8,scoring='neg_mean_squared_error')

In [16]:
grid.fit(X_train,y_train)

GridSearchCV(cv=8, estimator=DecisionTreeRegressor(),
             param_grid={'criterion': ['squared_error', 'friedman_mse',
                                       'absolute_error', 'poisson'],
                         'max_depth': [1, 2, 3, 4, 5],
                         'max_features': ['sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='neg_mean_squared_error')

In [17]:
y_pred=grid.predict(X_test)

# Model performance

In [18]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
r2_score(y_test,y_pred)

0.9118323563293098